/* css */
@import url("../../../assets/css/_globals.css");

body {
  margin: 0px;
  font-size: var(--procMonitor-font-size);
  font-weight: var(--procMonitor-font-weight);
  font-family: var(--font-family);
  background-color: var(--procMonitor-background-color);
  user-select: none;
  background-color: var(--content-background-color);
  margin: 2px;
}

h3 {
  color: var(--accent-primary);
  font-size: var(--toolbar-brand-logo-width);
  font-weight: var(--font-weight-2);
  text-align: center;
}

button {
  text-align: center;
  max-width: 2000px;
  margin-left: 10px;
  -webkit-appearance: none;
  background-color: var(--button-affirmative-background-color);
  color: #fff;
  font-family: var(--font-family);
  font-size: var(--toolbar-font-size);
  border: 0px;
  border-radius: 12px;
  vertical-align: middle;
  transition: all 0.2s ease;
  float: right;
  font-weight: var(--font-weight-4);
}

button:hover {
  background-color: var(--button-affirmative-background-hover-color);
  cursor: pointer;
  transition: all 0.2s ease;
}

label {
  color: var(--accent-primary);
  font-size: var(--toolbar-brand-logo-width);
  font-weight: var(--font-weight-2);
}

input,
select {
  border-radius: 12px;
  background-color: var(--core-primary);
  color: var(--core-primary-4);
}

#shareText {
  width: 93%;
  height: 35px;
  resize: none;
  margin: 5px;
  border-radius: 12px;
  background-color: var(--core-primary);
  color: var(--core-primary-4);
}

#chatList {
  width: 96%;
  height: 105px;
  margin: 5px;
}

#sendBtn,
#cancelBtn {
  float: right;
  margin: 5px;
}
