<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>SymphonyTester</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="SymphonyTester.css" />
    <script src="../../vendor.bundle.js"></script>
    <script src="SymphonyTester.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="headerDiv">
        <h1>SymphonyTester</h1>
        <p>
          <b>Warning! Read before using the OBO function!</b>
        </p>
        <p>
          This <b>Send OBO Message</b> will send OBO message using the Symphony
          username provided in the code to your actual Symphony chat. Please use
          it carefully!
        </p>
      </div>
      <div id="connectionDiv">
        <p>Create Direct Chat</p>
        <div id='searchUsersDiv'>
          <input id='searchUsersTxt'></input>
          <button id='searchUsersBtn'>Search</button>
        </div>
        <p>Members</p>
        <select name="users" id="searchUsersResult" multiple>
        </select>
        <button id='createIMBtn'>Create Chat</button>
      </div>
      <div id="chatsDiv">
        <p>CHATS</p>
        <select id="chatsSelect" name="chatsSelect"> </select>
        <p>Send OBO Message</p>
        <textarea id="oboMsg"></textarea>
        <button type="button" id="oboMsgBtn">Send</button>
      </div>
      <div id="resultDiv">
        <textarea id="resultMsg" readonly></textarea>
      </div>
    </div>
  </body>
</html>
