@import url("../../../assets/css/_globals.css");

body {
  margin: 0px;
  font-size: var(--procMonitor-font-size);
  font-weight: var(--procMonitor-font-weight);
  font-family: var(--font-family);
  background-color: var(--procMonitor-background-color);
  user-select: none;
  background-color: var(--content-background-color);
}

#container, #sendMsgDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}

#createGroupDiv {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}

#headerDiv {
  width: 100%;
  height: 27%;
  color: white;
  font-size: 0.8rem;
}

#connectionDiv {
  color: white;
  width: 47%;
  height: 40%;
  padding: 5px;
}

#createChatBtn {
  float: right;
  display: none;
}

#createChatroomBtn, #backBtn{
  float: right;
}

#chatsDiv {
  color: white;
  width: 47%;
  height: 40%;
  padding: 5px;
}

.halfcol {
  color: white;
  width: 47%;
  height: 100%;
  padding: 5px;
  margin-left: auto;
  margin-right: 0;
}

#funcContainer {
  color: white;
  width: 98%;
  height: 40%;
  padding: 5px;
  vertical-align: right;
}

#resultDiv {
  width: 100%;
  height: 25%;
  padding: 7px;
}

#searchUsersDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#searchUsersTxt {
  width: 60%;
}

#memberList {
  width: 100%;
  height: 75%;
}

#searchUsersResult {
  width: 100%;
  height: 75%;
}

#externalConnections, #internalConnections{
  width: 100%;
  height: 90%;
}

#connections {
  width: 99%;
}
#chatsSelect {
  width: 99%;
}
#oboMsgBtn,
#shareChartBtn {
  float: right;
}
#tickerText {
  width: 97%;
}

#oboMsg {
  width: 97%;
  height: 80px;
  resize: none;
}

.main {
  display: inline-block;
}

#chats {
  width: 150px;
}

.spacer1 {
  height: 50px;
}

.spacer2 {
  height: 15px;
}

.spacer3 {
  height: 15px;
}

.spacer4 {
  height: 0px;
}

h1 {
  font-weight: var(--font-weight-1);
  color: var(--procMonitor-font-color);
  text-align: center;
}

h4 {
  font-weight: var(--font-weight-3);
  color: var(--procMonitor-font-color);
  text-align: center;
  margin-block-start: 1px;
  margin-block-end: 1px;
  width: 100%;
}

button {
  text-align: center !important;
  margin: 0px auto;
  max-width: 2000px;
  -webkit-appearance: none;
  background-color: var(--button-affirmative-background-color);
  color: #fff;
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 100%;
  border: 0px;
  border-radius: 4px;
  vertical-align: middle;
  transition: all 0.2s ease;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

button:hover {
  background-color: var(--button-affirmative-background-hover-color);
  cursor: pointer;
  transition: all 0.2s ease;
}

#quitFS {
  color: #ee5c5c;
  background-color: #ffffff;
  font-size: 100%;
  width: 140px;
}

#resultMsg {
  width: 98%;
  height: 100%;
  resize: none;
}

/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  float: left;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  padding: 5px 5px;
  transition: 0.3s;
  font-size: 12px;
  border-radius: 0px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  height: 40%;
}
