<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>SymphonyTester</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="SymphonyTester.css" />
    <script src="../../vendor.bundle.js"></script>
    <script src="SymphonyTester.js"></script>
  </head>
  <body>
    <div id="container">
      <div class="spacer2"></div>
      <img
        src="../../assets/img/finsembleDarkBG_noText.png"
        id="finsembleLogo"
        height="60"
      />
      <p id="warningMsg1">
        <b>Warning! Read before using the OBO function!</b>
      </p>
      <p id="warningMsg2">
        This <b>OBO Message</b> and <b>Share Chart</b>will send actual message
        using the Symphony username provided in the code to your actual Symphony
        chat. <br />
        <b>Please use it carefully!</b>
      </p>
      <div class="spacer2"></div>
      <div id="functionDiv">
        <div class="rowDiv">
          <label class="label" for="chatsSelect"><b>Chats</b></label>
          <select id="chatsSelect" name="chatsSelect"></select>
        </div>
        <div class="rowDiv">
          <label class="label" for="tickerText"><b>Share a Chart</b></label>
          <button type="button" id="shareChartBtn">Share</button>
          <input type="text" id="tickerText" placeholder="Input a ticker" />
        </div>
        <div class="rowDiv">
          <button id="newDirectChartBtn"><b>+ New Direct Chat</b></button>
        </div>
        <div class="rowDiv">
          <button id="newChatRoomBtn"><b>+ New Chat Room</b></button>
        </div>
        <div class="rowDiv">
          <label class="label" for="oboMsg"><b>OBO Message</b></label>
          <br/> <br/>
          <textarea id="oboMsg" placeholder="Input your message"></textarea>
          <button type="button" id="oboMsgBtn">Send</button>
        </div>
      </div>
      <div class="rowDiv" id="resultDiv">
        <textarea id="resultMsg" readonly></textarea>
      </div>
    </div>
  </body>
</html>
