@import url("../../../assets/css/_globals.css");

body {
  margin: 0px;
  font-size: var(--procMonitor-font-size);
  font-weight: var(--procMonitor-font-weight);
  font-family: var(--font-family);
  background-color: var(--procMonitor-background-color);
  user-select: none;
  background-color: var(--content-background-color);
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spacer1 {
  height: 50px;
}

.spacer2 {
  height: 15px;
}

.spacer3 {
  height: 15px;
}

.spacer4 {
  height: 0px;
}

h1 {
  font-weight: var(--font-weight-1);
  color: var(--procMonitor-font-color);
}

button {
  text-align: center;
  margin-left: 10px;
  max-width: 2000px;
  -webkit-appearance: none;
  background-color: var(--button-affirmative-background-color);
  color: #fff;
  font-family: var(--font-family);
  font-size: 14px;
  border: 0px;
  border-radius: 12px;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: middle;
  transition: all 0.2s ease;
  float: right;
  font-weight: var(--font-weight-2);
}
button:hover {
  background-color: var(--button-affirmative-background-hover-color);
  cursor: pointer;
  transition: all 0.2s ease;
}

#quitFS {
  color: #ee5c5c;
  background-color: #ffffff;
  font-size: 100%;
  width: 140px;
}

#warningMsg1 {
  color: var(--accent-negative);
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: var(--font-weight-2);
}

#warningMsg2 {
  color: var(--core-primary-5);
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
}

.rowDiv {
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  width: 90%;
}

.label {
  color: var(--accent-primary);
  float: left;
  font-size: var(--toolbar-brand-logo-width);
  font-weight: var(--font-weight-2);
}

#chatsSelect {
  float: right;
  width: 150px;
  border-radius: 12px;
  color: var(--font-color);
  background-color: var(--core-primary-4);
}

#tickerText {
  float: right;
  width: 90px;
  border-radius: 12px;
  background-color: var(--core-primary);
  color: var(--core-primary-4);
}
#functionDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#newDirectChartBtn,
#newChatRoomBtn {
  width: 100%;
  text-align: left;
  background-color: var(--procMonitor-background-color);
  color: var(--accent-primary);
}

#oboMsg {
  width: 100%;
  height: 40px;
  border-radius: 12px;
  background-color: var(--core-primary);
  color: var(--core-primary-4);
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 5px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-top: 15px;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
