/* css */
@import url("../../../assets/css/_globals.css");

body {
  margin: 0px;
  font-size: var(--procMonitor-font-size);
  font-weight: var(--procMonitor-font-weight);
  font-family: var(--font-family);
  background-color: var(--procMonitor-background-color);
  user-select: none;
  background-color: var(--content-background-color);
  margin: 2px;
    overflow-y: hidden;
}

h3 {
  color: var(--accent-primary);
  font-size: var(--toolbar-brand-logo-width);
  font-weight: var(--font-weight-2);
  text-align: center;
}

button {
  text-align: center;
  max-width: 2000px;
  margin-left: 10px;
  -webkit-appearance: none;
  background-color: var(--button-affirmative-background-color);
  color: #fff;
  font-family: var(--font-family);
  font-size: var(--toolbar-font-size);
  border: 0px;
  border-radius: 12px;
  vertical-align: middle;
  transition: all 0.2s ease;
  float: right;
  font-weight: var(--font-weight-4);
}

button:hover {
  background-color: var(--button-affirmative-background-hover-color);
  cursor: pointer;
  transition: all 0.2s ease;
}

label {
  color: var(--accent-primary);
  font-size: var(--toolbar-brand-logo-width);
  font-weight: var(--font-weight-2);
}

input,
select {
  border-radius: 12px;
  background-color: var(--core-primary);
  color: var(--core-primary-4);
  padding-left: 5px;
}

.chatLabel {
  display: inline-block;
  padding-top: 12px;
  margin-left: 5px;
}

#shareText {
  width: 93%;
  height: 80px;
  resize: none;
  margin: 5px;
  border-radius: 12px;
  background-color: var(--core-primary);
  color: var(--core-primary-4);
}

#chatList {
  width: 95%;
  height: 190px;
  margin: 5px;
}

#sendBtn,
#cancelBtn {
  float: right;
  margin: 5px;
}

/* Dropdown Button */
.dropbtn {
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 45%;
  margin-right: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  float: right;
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  float: left;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -105px !important;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin-top: 15%;
  margin-left: 4%;
  margin-right: 4%;
  padding: 10px;
  border: 1px solid #888;
  width: 85%;
  height: 50%; /* Could be more or less, depending on screen size */
  border-radius: 4px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#memberSearchText {
  width: 90%;
}

.symphonyConnectionStatus{
  border-style: solid;
  border-width: thin;
  border-color: var(--button-affirmative-background-color);
  padding: 5px;
  height: 50px;
}

#chatroom-modal-content{
  height: 65%
}

#chatroomNameText{
  background-color: white;
}