<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>PdfList</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="PdfList.css" />
    <script src="../../vendor.bundle.js"></script>
    <script src="PdfList.js"></script>
  </head>
  <body>
    <h1>PdfList</h1>
    <div id="pdfList">
      <a
        onclick="openPdf('https://cdn2.hubspot.net/hubfs/2246990/_ChartingLibrary/Library_DataSheet_7_26_17.pdf')"
        href="#"
        >Library_DataSheet_7_26_17.pdf</a
      >
      <br />
      <a
        onclick="openPdf('https://cdn2.hubspot.net/hubfs/2246990/_Finsemble/DataSheets/Finsemble_DataSheet_2019.05.15.pdf')"
        href="#"
        >Finsemble_DataSheet_2019.05.15.pdf</a
      ><br />
    </div>
  </body>
</html>
