<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>PdfList</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="PdfList.css" />
    <script src="../../vendor.bundle.js"></script>
    <script src="PdfList.js"></script>
  </head>
  <body>
    <h1>PdfList</h1>
    <div>
      <button id='follow' class="button" onclick="follow('PdfList')">Follow</button>
      <button id='unfollow' class="button" onclick="unfollow('PdfList')" style='display:none;'>Unfollow</button>
    </div>

    <br />
    <div id="pdfList">
    </div>
  </body>
</html>
